<section class="row">
  <article class="column">
    <h2>7 Tasks</h2>
    <ol>
      <li>
        <%= live_patch "CRUD", to: Routes.live_path(@socket, CrudLiveWeb.CRUDLive) %>
      </li>
    </ol>
  </article>
</section>
